.popupMain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  overflow-x: hidden;
  cursor: pointer;
  &__inner {
    background: #2d3035;
    box-shadow: 0 0.6rem 0.6rem 0 rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    flex-direction: column;
    max-height: 80%;
    position: relative;
    cursor: default;
    overflow-x: hidden;

    // ! respond on dispaly width <=768px
    @include respond(phone-med) {
      max-width: 90%;
    }

    @include respond(phone) {
      max-width: 95%;
    }
  }

}

